##############################################################################
# Nacelle testing dependencies
#
# Note: You only need install these if you're planning on running the tests.
# If you're only running or deploying the app you don't need to install these.
##############################################################################

Pillow==2.2.1  # required for image service stub
coverage==3.6  # required for code coverage metrics
coveralls==0.3  # nice online reporting of code coverage
nose==1.3.0  # test runner
yanc==0.2.4  # fancy colored test output
