<link rel="stylesheet" href="/static/cms/css/bootstrap.css">
<link rel="stylesheet" href="/static/cms/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/cms/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="/static/cms/css/bootstrap-lightbox.min.css">
<link rel="stylesheet" href="/static/cms/css/datepicker.css">
<link rel="stylesheet" href="/static/cms/css/base.css">
<link rel="stylesheet" href="/static/lib/jquery-uploader/css/style.css">
<link rel="stylesheet" href="/static/lib/jquery-uploader/css/bootstrap-image-gallery.min.css">
<link rel="stylesheet" href="/static/lib/jquery-uploader/css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="/static/lib/toastr/toastr.css">

<style>
    body {
        /* 60px to make the container go all the way to the bottom of the topbar */
        padding-top: 60px;
    }
</style>
