{# jquery first, because well, jquery #}
<script src="/static/lib/jquery/jquery-1.9.1.min.js"></script>
{# jquery-ui for some UI goodness should you want it #}
<script src="/static/lib/jquery-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
{# ah, ye olde bootstrap #}
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
{# lightbox plugin for bootstrap #}
<script src="/static/lib/bootstrap-lightbox/bootstrap-lightbox.min.js"></script>
{# datepicker plugin for bootstrap #}
<script src="/static/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
{# jquery plugin for easy lazy loading of images #}
<script src="/static/lib/lazyload/jquery.lazyload.min.js"></script>

{# custom js common to all cms templates #}
<script src="/static/cms/js/base.js"></script>
