{% extends 'cms/base/base.html' %}

{# use macros to help modularise our templates a bit #}
{% import 'cms/macros/list_helpers.html' as list_helpers %}


{% block cms_content %}

<div class="span12">

    {#######################################
        Custom header for this list view
    #######################################}

    <div class="row">
        <div class="span10">
            <h1><i class="{{ header_config['icon'] }}"></i> {{ header_config['title'] }}</h1>
        </div>
        <div class="span2">
            <br>
            <a href="edit/" class="btn btn-primary pull-right"><i class="icon-plus"> Add New</i></a>
        </div>
    </div>
    <br>

    {##########################################
        A custom help message for this view
    ##########################################}

    {{ misc_helpers.alert(header_config['text']) }}

    {#########################################################
        Custom bulk actions and filters for this list view
    #########################################################}

    <div class="row">

        <div class="span6">
            <form class="form-inline">
                <select id="bulk-action-select" class="input-medium">
                    <option iconclass="icon-align-justify" btnclass="btn" value="noaction">- Bulk actions -</option>
                    <option iconclass="icon-trash" btnclass="btn btn-danger" value="delete">Delete</option>
                </select>
              <button type="submit" class="btn" id="bulk-action-button" title="Apply bulk action"><i class="icon-align-justify" id="bulk-action-button-icon"></i></button>
            </form>
        </div>

        {###############################################
            Custom filter options for this list view
        ###############################################}

        {% block list_filters %}

            <div class="span6">
            </div>

        {% endblock %}

    </div>

    {########################################################
        Render our table, using the list_config object we
        passed in the context as a blueprint
    ########################################################}

    <table class="table table-striped table-bordered">

        {# Use a macro to render our table headings, sortable or not #}
        <thead>
            <tr>
                <th style="width: 1px;"><input type="checkbox" value="" name="check-all" id="check-all"/></th>
                {% for table_header in table_config %}
                    {{ list_helpers.table_header(table_header, sort_config, prettify_string) }}
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr id="more-rows">
                <td colspan="{{ table_config|length() + 2 }}" id="load-more-rows">
                    <i class="icon-spinner icon-spin icon-large"></i> <strong>Loading...</strong>
                </td>
            </tr>
        </tbody>

    </table>

</div>

{% endblock %}

{% block extra_javascript %}
<script src="/static/cms/js/list.js"></script>
<script type="text/javascript">

    var query_config = {{ json.dumps(sort_config)|safe }};

    $(document).ready(function(){

        // check/uncheck all checkboxes when the
        // checkbox in the header row is toggled
        $('#check-all').click(function(){
            var cbs = $('.checkbox')
            for (cb in cbs){
                cbs[cb].checked = this.checked
            }
        });

        // Simple function that changes the icon and colour of the bulk
        // action apply button defined using custom attributes on the
        // options in the <select>
        $('#bulk-action-select').change(function(){
            var button_class = $('option:selected', this).attr('btnclass');
            var icon_class = $('option:selected', this).attr('iconclass');
            $('#bulk-action-button-icon').attr('class', icon_class);
            $('#bulk-action-button').attr('class', button_class);
        });

        // Perform our bulk action when the button is clicked
        // and at least one checkbox is checked
        $('#bulk-action-button').click(function(e){
            e.preventDefault();
            var action = $('#bulk-action-select').val();
            // build an array of ids we can send to the
            // relevant bulk action handler
            var checked = $('input.checkbox:checked');
            if (checked.length > 0){
                var keys = [];
                for (cb in checked){
                    try{
                        keys[cb] = checked[cb].value;
                    }catch(e){
                        continue;
                    }
                }
                if (action !== "noaction"){
                    $('#bulk-action-button-icon').attr('class', 'icon-spinner icon-spin');
                    $('#bulk-action-button').attr('disabled', true);
                    var ids = keys.join();
                    $.post("{{ request.path }}" + action + "_multi/", {ids: ids}, function(data) {
                        location.reload();
                    });
                }
            }
        });

        getMoreRecords();

    });

</script>
{% endblock %}
