{% for record_future in query %}

    {% set record = record_future.get_result() %}

    <tr>

        <td style="width: 1px;">
            <input type="checkbox" value="{{record.key.id()}}" class="checkbox"/>
        </td>

        {% for property in table_config %}
            {% set value = getattr(record, property['property']) %}
            <td>
                {% if 'display' in property %}
                    {{ property['display'](value) }}
                {% else %}
                    {{ value }}
                {% endif %}
            </td>
        {% endfor %}

        <td style="width: 1px; white-space: nowrap;">
            {% for widget in action_config %}
                {{ widget(record) }}
            {% endfor %}
        </td>

    </tr>

{% endfor %}

<tr id="more-rows">
    <td colspan="{{ table_config|length() + 2 }}" id="load-more-rows" data-cursor="{{ cursor|default('') }}">
        {% if cursor %}
            <i class="icon-repeat icon-large"></i> <strong>Load
            <span id="load-10">10</span>,
            <span id="load-25">25</span>,
            <span id="load-50">50</span>,
            <span id="load-100">100</span>
            more records</strong>
        {% else %}
            <i class="icon-remove icon-large"></i> <strong>No more records</strong>
        {% endif %}
        <span id="next-cursor" data-cursor="{{cursor}}"></span>
    </td>
</tr>
