{% macro table_header(column, sort_config, prettify) %}

    {% if 'title' in column %}
        {% set title = column['title'] %}
    {% else %}
        {% set title = prettify(column['property']) %}
    {% endif %}

        {% if column['sortable'] %}
            {% if sort_config['sort_property'] == column['property'] %}
                {% if sort_config['sort_order'] == 'asc' %}
                    <th style="white-space: nowrap;"><a href="?sort_property={{ column['property'] }}&sort_order=desc">{{title}}</a> <i class="icon-chevron-up"></i></th>
                {% else %}
                    <th style="white-space: nowrap;"><a href="?sort_property={{ column['property'] }}&sort_order=asc">{{title}}</a> <i class="icon-chevron-down"></i></th>
                {% endif %}
            {% else %}
                <th style="white-space: nowrap;"><a href="?sort_property={{ column['property'] }}&sort_order=asc">{{title}}</a></th>
            {% endif %}
        {% else %}
            <th>
                {{title}}
            </th>
        {% endif %}

{% endmacro %}
