{% extends 'cms/base/base.html' %}

{% block cms_content %}

<div class="span12">
    <div class="row" style="text-align: center;">
        <div class="span12">
            <h2>
                <i class="icon-dashboard"></i> CMS Dashboard
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>Welcome to your Nacelle-powered CMS.</h3>
            <p>You're seeing this message because you haven't yet configured a custom index handler for this CMS.</p>
        </div>
    </div>
</div>

{% endblock%}
